#window {
  display: block;
  resize: none;
  overflow-y: none;
  scrollbar-width: none;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 1.1em;
  max-height: none;
  line-height: 1.1;
  font-size: 1.1em;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* vertical-align: middle; */
  background-color: var(--search-bar-bg);
  padding: 12px 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  border: none;
  transition: 0.2s;
  color: var(--text-color);
}
#window::-webkit-scrollbar {
  display: none;
}

/* autocomplete時の背景色無効 */
@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

#window:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}
